//--------------------------------------------------------------
// Navigation on Comment, Post and Posts.
//--------------------------------------------------------------
.comment-navigation,
.posts-navigation,
.post-navigation {
    .site-main & {
        margin: 0 0 rem(24) 0;
        overflow: hidden;
        text-decoration: none;
    } // .site-main &
    .nav-previous {
        @include size(50% auto);
        a {
			text-decoration: none;
			@include media($desktop){
				font-size: 29px;
				font-weight: 800;
			}
           
        }
		float: left;
		
		
    } // &.nav-previous
    .nav-next {
        @include size(50% auto);
        a {
            text-decoration: none;
			@include media($desktop){
				font-size: 25px;
				font-weight: 800;
			}
        }
        float: right;
		text-align: right;
		
    } // &.nav-next
} // .comment-navigation, .posts-navigation, .post-navigation
