    //--------------------------------------------------------------
    // Buttons
    //--------------------------------------------------------------
    button,
    input[type='button'],
    input[type='reset'],
    input[type='submit'],
    .primary-button {
        appearance: none;
        background-color: #00c9ff;
        border: none;
        border-radius: 0;
        border-width: 0;
        color: $color-button-text;
        line-height: 1.5;
        margin: 0;
        padding: $padding-input; // IE 11 helper.
        font-size: 18px;
        transition: $transition-all;

        .ie & {
            height: rem(35);
        } // .ie &

        &:hover {
            background-color: #365dcb;
            color: #fff;
            transition: $transition-all;
        } // &:hover

        &:active,
        &:focus {
            background-color: #fff;
        } // &:active, &:focus
    } // button, input[type="button"], input[type="reset"], input[type="submit"]

    .button {
        text-decoration: none;
        text-align: center;
        text-transform: uppercase; 
        transition: $transition-all;
    } // .button

    .intro-button {
		background-color: #fff;
		color: #00c9ff;
    } // .intro-button

    .round {
        border-radius: 6px;
        padding: 13px 73px;
        text-transform: uppercase; //background-color: #fff;
        &.round {
            border-radius: 6px;
            padding: 13px 73px; //	color: #02b8fd;
        } // &.round
    } // .round

    .secondary {
        display: block;
        border: 3px solid #00c9ff;
        background: transparent;
        border-radius: 30px;
        margin: 0 auto;
        background: transparent;
        font-size: 20px;
        max-width: 90%;
        transition: $transition-all;

        &:hover {
            background: #00c9ff;
            color: #fff;
            transition: $transition-all;
        } // &:hover 
    } // .secondary

    .special-button {
        color: #fff;
        background-color: #0e34a0;
        padding: 18px;
        width: 200px;
        border-radius: 30px;
        font-size: 18px;
        transition: $transition-all;

        :hover {
            background-color: #00c9ff;
            color: #fff;
            transition: $transition-all;
        } // :hover
    } // .special-button

    .view-btn {
        padding: 12px 51px;
        text-decoration: none;
    } // .view-btn
