//--------------------------------------------------------------
// Footer
//--------------------------------------------------------------
.site-info {
    background: #058dd9;
    text-align: center;
    padding: 10px;
    font-size: 25px;
    color: #fff;
} // .site-info
