.site-header {
	position: fixed;
	top: 0;
	background: $color-transparent-gray;
	width: 100%;
	height: 50px;
    z-index: 998;
    display: flex;
    align-items: center;
    
	@include media($desktop) {
        height: 80px;
        
		& .wrap {
			min-width: 90%;
			display: flex;
            align-items: center;
            padding: 0;
		} // & .wrap
	} // @include media($desktop)
} // .site-header

.mobile-header {
	background-color:$color-transparent-gray;
	position: fixed;
    top: 0;
	height: 100px;
} // .mobile-header

//--------------------------------------------------------------
// Site logo.
.site-branding {
    @include span-columns(10);

    @include media($tablet-portrait) {
        @include span-columns(11);
    } // @include media($tablet-portrait)

    @include media($tablet-landscape) {
        @include span-columns(5);
    } // @include media($tablet-landscape)

    img {
        @include media(min-width $tablet-portrait max-width $tablet-landscape) {
            float: left;
			max-width: 50%;
			height: auto;
        } // img
    } // img
} // .site-branding

//-----------------------------------------
// Site Title.
//-----------------------------------------
.site-title {
    font-size: rem(48);

    @include media(min-width $tablet-portrait max-width $tablet-landscape) {
        float: left;
        margin: 0;
        padding: 0 rem(12);
		max-width: 50%;
		height: auto;
    } // @include media(min-width $tablet-portrait max-width $tablet-landscape)
} // .site-title

//-----------------------------------------
// Site Description.
//-----------------------------------------
.site-description {
    font-size: rem(24);
    margin: 0 0 rem(24) 0;

    @include media(min-width $tablet-portrait max-width $tablet-landscape) {
        clear: both;
    } // @include media(min-width $tablet-portrait max-width $tablet-landscape)
} // .site-description

//-----------------------------------------
// Header action container — Form Dropdown.
//-----------------------------------------
.site-header-action {
    @include span-columns(12);

    @include media($tablet-portrait) {
        @include span-columns(5);
    } // @include media($tablet-portrait)

    @include media($tablet-landscape) {
        @include span-columns(4);
        float: right;
        margin-right: 0;
    } // @include media($tablet-landscape)

    @include media($desktop) {
        @include span-columns(3);
        float: right;
        margin-right: 0;
    } // @include media($desktop)

    @include media($desktop-large) {
        @include span-columns(2);
        float: right;
        margin-right: 0;
    } // @include media($desktop-large)
} // .site-header-action

//-----------------------------------------
// Site header action cta buttons.
//-----------------------------------------
.site-header-action {
    .button-link,
    .cta-button {
        color: $color-white;
        display: block;
        text-align: center;
        text-decoration: none;
        width: 100%;
    } // .button-link, .cta-button
} // .site-header-action

//-----------------------------------------
// Site header Action Searchform.
//-----------------------------------------
.site-header-action {
    .search-form {
        opacity: 0;
        transition: $transition-opacity;
        visibility: hidden; // If the body class is there, show the form.
        .search-form-visible & {
            display: block;
            opacity: 1;
            transition: $transition-opacity;
            visibility: visible;
        } // .search-form-visible &
    } // .search-form
} // .site-header-action

//-----------------------------------------
// Main Navigation Container.
//-----------------------------------------
.main-navigation {
	@include span-columns(12);
	
} // .main-navigation

.admin-bar .main-navigation {
    top: 32px;
} // .admin-bar .main-navigation

.archive-name {
    font-size: 40px;
    color: $coloor-dark-blue;
    padding-top: 62px;
    padding-bottom: 40px;
    margin-bottom: 20px;

    &>.wrap {
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    } // &>.wrap

    h1 {
        &:after {
            display: block;
            content: '';
            height: 10px;
            width: 100px;
            background-color: $color-silver-chalice;
            margin-left: 10px;
        } // &:after
    } // h1

    .header-title {
        color: $color-white;
        text-align: center;
        margin-bottom: 0;

        @include media($tablet-portrait) {
            font-size: 100px;
        } // @include media($tablet-portrait)

        &:after {
            display: none;
        } // &:after
    } // .header-title

    .header-intro {
        text-align: center;
        color: $color-white;
        font-size: 20px;
    } // .header-intro
} // .archive-name

.single .archive-name .header-title {
    font-size: 0.70em;
} // .single .archive-name .header-title

@include media($desktop) {
    .single .archive-name .header-title {
        font-size: 64px;
    } // .single .archive-name .header-title 
} // @include media($desktop)