.other-services-offered {
    width: 100%;
    .service-title {
        font-size: 64px;
        margin-bottom: 0;
        @include span-columns(12);
    }
    .service-wrap {
        @include span-columns(12);
        display: flex;
        flex-direction: column;
        @include media($tablet-portrait) {
            flex-direction: row;
        }
    }
    .service-intro {
        font-size: 24px;
        text-align: center;
        padding: 0 20px 35px 20px;
        @include span-columns(12);
        @include media($tablet-portrait) {
            padding: 0 20px 55px 20px;
        }
    }
    .centered-image,
    .services-offered {
        align-self: center;
        @include span-columns(12);
        @include media($tablet-portrait) {
            @include span-columns(4);
        }
    }
    .service {
        text-align: center;
        padding: 20px;
        @include media($tablet-portrait) {
            text-align: start;
        }
        img {
            width: 100px;
            height: auto;
            display: block;
            padding-bottom: 20px;
            margin: auto;
            @include media($tablet-portrait) {
                margin: 0;
            }
        }
        h3 {
            font-size: 24px;
            padding-bottom: 10px;
            margin: 0;
        }
    }
}
