.our-services {
    width: 100%;
    .wrap {
        padding-bottom: 74px;
        .service-title {
            font-size: 64px;
            margin-bottom: 0;
        }
        .service-intro {
            font-size: 24px;
            text-align: center;
            padding: 0 20px 35px 20px;
            @include media($tablet-portrait) {
                padding: 0 20px 55px 20px;
            }
        }
        .service {
            @include span-columns(12);
            @include media($tablet-portrait) {
                @include span-columns(4 of 12);
                @include omega(3n);
                text-align: start;
            }
            @include media($phone) {
                text-align: center;
            }
            padding: 20px;
            img {
                width: 100px;
                height: auto;
                display: block;
                padding-bottom: 20px;
                margin: auto;
                @include media($tablet-portrait) {
                    margin: 0;
                }
            }
            h3 {
                color: #058dd9;
                font-size: 24px;
                padding-bottom: 10px;
                margin: 0;
            }
        }
    }
}
