.featured-blog {
    background-color: #d8ddef;
    h1 {
        font-size: 38px;
        text-align: center;
        color: #0e34a0;
        padding-top: 48px;
    }
    .blog-item {
        margin: auto;
        margin-bottom: 30px;
        background-color: #fff;
        @include span-columns(12);
        @include media($tablet-portrait) {
            @include span-columns(6);
            @include omega(2n);
            border: solid 1px #d8ddef;
        }
        @include media($tablet-landscape) {
            @include span-columns(4);
            @include omega-reset(2n);
            @include omega(3n);
        }
        @include media($desktop) {
            @include span-columns(4 of 12);
            @include omega(3n);
            margin-bottom: 40px;
        }
        .entry-title {
            line-height: 24px;
            margin-left: 15px;
            a {
                text-decoration: none;
                font-size: 23px;
                color: #343434;
            }
        }
        .entry-meta {
            font-size: 18px;
            color: #696a6d;
            text-transform: uppercase;
			margin-left: 15px;
        }
        .feature-content {
            margin: 0 22px;
            font-size: 14px;
            display: flex;
            text-transform: capitalize;
            margin-bottom: 30px;
            .author {
                display: flex;
                margin-left: 10px;
                img {
                    border-radius: 20px;
                    margin-right: 10px;
                }
                p {
                    margin: auto;
                    color: #a0a4b8;
                    text-transform: capitalize;
                }
            }
        }
    }
    .blog-item .featured-img img {
        width: 100%;
    }
}
