.site-content {
    margin: 0;
}

.featured-project {
    .entry-content {
        @include outer-container();
        display: flex;
        align-items: center;
        margin-top: 0;
        margin-bottom: 0;
        background-repeat: no-repeat;
        background-position: center;
        flex-direction: column-reverse;
        padding-top: 0;
        background-size: calc(100% - 60px) auto;
        @include media($desktop) {
            flex-direction: row;
        }
        @include media($tablet-landscape) {
            flex-direction: row;
        }
        @include media($tablet-portrait) {
            flex-direction: row;
            background-size: 646px;
        }
    }
    .site-description {
        padding: 20px 20px 30px 20px;
        @include span-columns(12);
        @include media($desktop) {
            @include span-columns(8);
            padding-top: 116px;
            padding-bottom: 116px;
        }
        @include media($tablet-landscape) {
            @include span-columns(6);
        }
        @include media($tablet-portrait) {
            @include span-columns(6);
        }
        .entry-title {
            margin-bottom: 20px;
            a {
                text-decoration: none;
            }
        }
        .sit-name {
            margin: 0;
            color: #a0a4b8;
            font-size: 18px;
            text-transform: uppercase;
        }
    }
    .screenshot {
        z-index: 10;
        @include span-columns(12);
        @include media($desktop) {
            @include span-columns(4);
        }
        @include media($tablet-landscape) {
            @include span-columns(6);
        }
        @include media($tablet-portrait) {
            @include span-columns(6);
        }
        .screenshot img {
            display: block;
            max-width: 373px;
            @include media($tablet-portrait) {
                max-width: 350px;
            }
        }
    }
}
