.quote {
    margin: 0;
    .Quote-area {
        padding-top: 124px;
        padding-bottom: 124px;
        text-align: center;
        p {
            font-size: 40px;
            line-height: 1.1;
        }
        .getbutton {
			border: 2px solid #00c9ff;
			padding: 10px 48px;
			text-decoration: none;
        }
    }
}
