.other-services-offered {
    background-color: #eeeef0;
    .service-wrap {
        .right-image,
        .services-right {
            margin-top: 0;
            @include span-columns(12);
            @include media($tablet-portrait) {
                @include span-columns(6);
                .img-position {
                    width: 456px;
                    margin: auto;
                    margin-top: 102px;
                }
            }
        }
    }
}
