//--------------------------------------------------------------
// intro Block
//--------------------------------------------------------------
.page-template-front-page {
    .site-content {
        margin: 0;
        .intro {
			background-size: cover!important;
            background-position: center!important;
            background-repeat: no-repeat!important;
            padding: 100px 0;
            text-align: center;
            background-image: radial-gradient(circle at 1% 0, #0382f3, #01a4f9 44%, #00c9ff);
            @include media($tablet-portrait) {
                padding: 225px 0;
            }
            .heading {
                padding: 0 20px 30px 20px;
                h1 {
                    font-size: 1.5em;
                    color: #f6f8fe;
					@include media($desktop) {
						font-size: 37px;
						color: #f6f8fe;
						line-height: 1.1;
					}
					
                }
                p {
                    font-size: 20px;
                    color: #f6f8fe;
                    padding-bottom: 44px;
					line-height: 1.1;
					@include media($desktop){
						font-size: 24px;
					}
                }
            }
        }
    }
}
