.location {
    .service-title {
        margin-bottom: 10px;
        margin-top: 0;
        text-align: center;
        color: #041d77;
        text-transform: uppercase;
        font-size: 48px;
        padding-top: 12px;
    }
    .site-location {
		padding-bottom: 82px;
        @include media($tablet-portrait) {
            display: flex;
            align-items: center;
        }
        .map,
        .adress {
            @include span-columns(12);
            @include media($tablet-portrait) {
                @include span-columns(6);
            }
        }
        .adress-information {
            display: flex;
            justify-content: space-evenly;
        }
        .adress {
			padding-bottom: 30px;
			@include media($tablet-portrait) {
				padding: 2px;
			}
            .contact-btn {
                text-align: center;
            }
        }
    }
}
