.partners {
    background: $color-gray-alt;

    .partner-wrap {
		max-width: 54rem;
        margin: auto;
        padding: 40px 0;
        
        .brands {
            margin-top: 0;
            text-align: center;
            color: $color-white;
            text-transform: uppercase;
            font-size: 18px;
            padding-bottom: 20px;
        }

        .partners-list {
            align-items: center;
            @include media($tablet-portrait) {
                display: flex;
            }
            
            .logo {
                margin: auto;
                width: 100px;
                height: auto;
            }
        }
    }
}
