.services {
    width: 100%;
        
    .service-title {
        color: $color-deep-blue;
        font-size: 48px;
        margin-bottom: 0;
        text-align: center;
    } // .service-title 

    .service-intro {
        font-size: 24px;
        text-align: center;
        padding: 0 20px;

        @include media($tablet-portrait){
            padding: 0 20px 55px 20px;
        } // @include media($tablet-portrait)
    } // .service-intro
    
    .our-services {
        .service {
            @include span-columns(12);
            text-align: center;
            padding: 20px;

            @include media($tablet-portrait) {
                @include span-columns(4);
                border-right: 1px solid $color-alto;
            } //  @include media($tablet-portrait)

            img {
                width: 100px;
                height: auto;
                display: block;
                margin: 0 auto;
                padding-bottom: 20px;
            } // img
            
            h3 {
                color: $color-bright-blue;
                font-size: 24px;
                padding-bottom: 10px;
                margin: 0;
            } // h3
        } // .service

        .service:last-child {
            border: none;
        } // .service:last-child
    } // .our-services
} // .services
 