.single-portfolio-content {
    .wrap {
        @include media($tablet-portrait) {
            display: flex;
            align-items: center;
        }
    }
    .image,
    .contents {
        padding-left: 10px;
		margin-top: 54px;
        @include span-columns(12);
        @include media($tablet-portrait) {
            @include span-columns(6);
		}
		.project-btn{
			text-align: center;
			margin: 20px;
		}
    }
    
}
