.team {
    .team-header {
        margin-top: 0;
        text-align: center;
        color: #041d77;
        text-transform: uppercase;
        font-size: 48px;
        padding-top: 40px;
        padding-bottom: 20px;
    }
    .members-list {
		align-items: center;
		justify-content: center;
        @include media($tablet-portrait) {
            display: flex;
        }
        .team-member {
			text-align: center;
            img {
                width: 200px;
				border-radius: 50%;
				margin: auto;
			}
			h2,p{
				text-align: center;
				text-transform: uppercase;
			}
			h2{
				font-size: 24px;
				color: #058dd9;
				margin-bottom: 0;
			}
			p{
				font-size: 16px;
				color: #00c9ff;
			}
        }
    }
}
