.testimonials {
    color: $color-white;
    background: $color-deep-blue !important;

    .contributors {
        padding: 65px 20px;
        
        @include media($tablet-portrait) {
            padding-bottom: 75px;
            padding-top: 95px;
        } // @include media($tablet-portrait)
    } // .contributors

    .opinion {
        text-align: center;

        .quote-image {
            margin-bottom: 30px;
            
			img{
				max-width: 100px;
				height: auto;
			} // img
        } // .quote-image

        @include media($tablet-portrait) {
            font-size: 24px;
            text-align: center;
        } // @include media($tablet-portrait)
    } // .opinion

    .client {
        display: flex;
        margin-top: 30px;
        
        @include media($tablet-portrait) {
            justify-content: center;
            align-items: center;
            align-content: center;
        } // .client

        .client-img {
            img {
                max-width: 50px;
                height: auto;
                border-radius: 50%;
                margin-right: 15px;
            } // img
        } // .client-img

        .details {
            .name,
            .title {
                margin: 0;
                font-size: 18px;
                line-height: 1.5;
                text-transform: uppercase;
            } // .name,.title

            .name {
                font-weight: 800;
            } // .name
        } // .details
    } // .client
} // .testimonials
