.post-type-archive-portfolio {
    .site-content {
        margin: 0;
    }
    .entry-content {
        @include outer-container();
        display: flex;
        align-items: center;
        margin-top: 0;
        margin-bottom: 0;
        flex-direction: column-reverse;
        //padding: 20px;
        @include media($desktop) {
            flex-direction: row;
		}
		
		@include media($tablet-landscape){
			flex-direction: row;
		}
		@include media($tablet-portrait) {
			flex-direction: row;
		}
    }
    .site-description {
		padding: 20px;
        @include span-columns(12);
        @include media($desktop) {
            @include span-columns(8);
            padding-bottom: 134px;
            padding-top: 112px;
		}
		@include media($tablet-landscape){
			@include span-columns(6);
		}
        @include media($tablet-portrait) {
            @include span-columns(6);
		}
		
		
        .sit-name {
            margin: 0;
            color: #a0a4b8;
            font-size: 18px;
            text-transform: uppercase;
        }
        .entry-title {
            font-size: 48px;
            font-weight: 500;
            padding-bottom: 10px;
			margin-bottom: auto;
			line-height: 42px;
        }
        .odd {
            a {
                color: #f6f8fe;
                text-decoration: none;
            }
        }
        .even-title {
            a {
                color: #343434;
                text-decoration: none;
            }
        }
        p {
            font-size: 18px;
        }
    }
    .screenshot {
		z-index: 1;
		margin: 0;
        //@include span-columns(12);
        @include media($desktop) {
            @include span-columns(4);
		}
		@include media($tablet-landscape){
			@include span-columns(6);
		}
        @include media($tablet-portrait) {
			@include span-columns(6);
        }
    }
    .screenshot img {
		//margin-top:21px;
        margin-left: auto;
        display: block;
        width: 100%;
        @include media($tablet-portrait) {
            max-width: 330px;
            height: auto;
            border-radius: 6px;
        }
    }
    .even {
        flex-direction: column;
        @include media($desktop) {
            flex-direction: row;
        }
        a img {
            margin-right: auto;
            margin-left: initial;
        }
    }
    .hentry {
        margin-bottom: 0;
    }
    .background-color {
        width: 100%;
        height: 81%;
        z-index: 999;
        display: flex;
        align-items: center;
        align-content: center;
        flex-direction: column;
        justify-content: center;
    }
    .entry-content {
        background-repeat: no-repeat;
        background-position: center;
        padding-top: 0!important;
        background-size: calc(100% - 50%) auto;
    }
    @include media($desktop) {
        .spaceleft {
            padding-left: 125px;
        }
        .spaceright {
            padding-right: 125px;
        }
    }
}
