.category,
.blog {
    .content-area {
        background-color: #f6f8fe;
    } // .content-area

    .site-main {
        padding: 20px 10px;
        background-color: #d8ddef;
        margin-top: 0;
        @include media($tablet-portrait) {
            background-color: #f6f8fe;
        } // .site-main

        .blog-post {
            background-color: #fff;
            @include span-columns(12);
            margin-bottom: 20px;

            @include media($tablet-portrait) {
                @include span-columns(6);
                @include omega(2n);
                border: solid 1px #d8ddef;
            } // @include media($tablet-portrait)

            @include media($tablet-landscape) {
                @include span-columns(4);
                @include omega-reset(2n);
                @include omega(3n);
            } // @include media($tablet-landscape)

            @include media($desktop) {
                @include span-columns(4);
                @include omega-reset(2n);
                @include omega(3n);
            } // @include media($desktop)

            .featured-image {
                margin: 0;

                img {
                    width: 100%;
				} // img
            } // .featured-image

            .entry-meta {
                text-transform: uppercase;
                color: #696a6d;
                font-size: 14px;
				margin: 20px 0 0 15px;
            } // .entry-meta

            .entry-header {
                margin: 0 15px;
                .entry-title {
                    line-height: 24px;
                    a {
                        text-decoration: none;
                        font-size: 24px;
                        color: #0e34a0;
                        word-spacing: normal;
                    } // a
                } // .entry-title
            } // .entry-header

            .entry-content {
                margin: 0 22px;
                font-size: 14px;
                display: flex;
                text-transform: capitalize;
                margin-bottom: 50px;

                .author {
                    display: flex;

                    img {
                        border-radius: 20px;
                        margin-right: 10px;
                    } // img

                    p {
                        margin: auto;
                        color: #a0a4b8;
                        text-transform: capitalize;
                    } // p
                } // .author
            } // .entry-content 
        } // .blog-post
    } // .site-main
} // .category, .blog

.category .wrap {
    h1 {
        font-size: 306px;

        @include media($tablet-portrait) {
            font-size: 64px;
        } // @include media($tablet-portrait)
    } // h1
} // .category .wrap 
