.hero-content {
    h1 {
        color: $color-white;
        font-size: 56px;
    } // h2

    p {
        font-size: 24px;
        color: #f6f8fe;
    } // p

    @include media($tablet-portrait) {
        width: 694px;
    } // @include media($tablet-portrait)
} // .hero-content 