.page-contact-us {
    .site-content {
        margin-top: 0;
        .gform_wrapper {
			padding: 10px;
            background-color: #fff;
            .top_label textarea.textarea {
                width: 99.2%!important;
                height: 100px!important;
            }
            div.gform_footer.top_label {
                text-align: center;
                .gform_button {
                    color: #fff;
                    background-color: #0e34a0;
                    padding: 18px;
                    width: 200px;
                    border-radius: 30px;
                    font-size: 18px;
                }
            }
            .gform_body .gform_fields .gfield input[type="text"], textarea,
            body .gform_wrapper .gform_body .gform_fields .gfield input[type="email"],
            body .gform_wrapper .gform_body .gform_fields .gfield input[type="url"],
            body .gform_wrapper .gform_body .gform_fields .gfield input[type="tel"],
            body .gform_wrapper .gform_body .gform_fields .gfield select,
            body .gform_wrapper .gform_body .gform_fields .gfield .textarea {
                background-color: #fff;
                color: #333;
                -webkit-border-radius: 10px;
                -moz-border-radius: 10px;
				border-radius: 7px;
				outline: none;
            }
        }
    }
}

