.page-template-neat-example {
    .wrap {
        @include outer-container();
        margin-bottom: 10px;
    }
    .intro {
        @include span-columns(12);
        background: #eee;
    }
    .half {
        background: #eee;
        @include span-columns(12);
        @include media($tablet-portrait) {
            @include span-columns(6);
        }
    }
    .quarter {
        @include span-columns(6);
        background: #eee;
        height: 200px;
        margin-bottom: 10px;
        @include omega(2n);
        @include media($tablet-portrait) {
            @include span-columns(3);
            @include omega-reset(2n);
            @include omega(4n);
        }
    }
    .nested {
        .left {
            @include span-columns(3);
            background: #eee;
        }
        .right {
            @include span-columns(9);
            background: #eee;
            .wrap {
                background: red;
                .fourth {
                    background: #333;
                    @include span-columns(3 of 12);
                    @include omega(4n);
                    margin-bottom: 10px;
                }
            }
        }
    }
}
