.single {
	.wrap{
		padding: 10px 20px;
	}
    .entry-header {
        color: #fff;
        text-align: center;
        @include media ($desktop) {
            padding-bottom: 74px;
            padding-top: 64px;
        }
        .entry-meta {
            font-size: 24px;
            font-weight: 400;
            text-transform: uppercase;
        }
        .single-title {
            margin-bottom: 0;
			font-size: 34px;
			line-height: 1.2;
            @include media($desktop) {
                font-size: 64px;
            }
        }
    }
    .entry-content {
        h2 {
            font-size: 33px;
            margin-bottom: 24px;
        }
        p {
            font-size: 20px;
        }
    }
    #submit {
        color: #fff;
        background-color: #0e34a0;
        padding: 18px;
        width: 200px;
        border-radius: 30px;
        font-size: 18px;
         :hover {
            background-color: #00c9ff;
            color: #fff;
        }
    }
}
