//--------------------------------------------------------------
// Global Link Styles
//--------------------------------------------------------------

a {
	color: $color-link;
	transition: $transition-opacity;

	&:visited {
		//color: #00c9ff;
	} // &:visited

	&:hover,
	&:focus,
	&:active {
		color: $color-link-hover;
	} // &:hover, &:focus, &:active
} // a
